@set('component', component || 'button')

<{{ component }}
  {{ $props.serializeExcept(['label', 'className', 'component']) }}
  class="{{
    [
      'btn',
      color ? `btn-${color}` : 'btn-blue',
      rounded ? `btn-rounded-${rounded}` : '',
      size ? `btn-size-${size}` : '',
      compact ? 'btn-compact' : '',
      variant ? `btn-${variant}` : '',
      className || ''
    ].join(' ').trim()
  }}"
>
  {{ label }}
</{{ component }}>
