@layout('layouts/main')
@set('title', 'Home')

@section('body')
  @include('partials/header')

  <p class="max-w-screen-lg mx-auto py-8 text-gray-6">
    A collection of Edge, Tailwind and Alpine components.
  </p>
@end

